body{
    background-color: darkgray;
}

.DATOS-PERSONALES
.FORMACION
.EXPERIENCIA
.CAPACITACIONES
.REFERENCIAS {padding: 80px;
}



.DATOS-PERSONALES{background-color: aquamarine;}
.FORMACION{background-color: cadetblue;}
.EXPERIENCIA{background-color: crimson;}
.CAPACITACIONES{background-color: darkkhaki;}
.REFERENCIAS{background-color: darksalmon;}


.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0%; 
    grid-template-rows: 1fr 1fr 1fr; 
    row-gap: 0%;
  }

  .container,
.DATOS-PERSONALES{
    grid-row: span 3;
}